// 颜色区
@color-background: rgb(230, 234, 237);
@color-content-background: rgb(40, 44, 52);
@color-text: #888;
@color-btn-hover-background: rgb(51, 56, 66);
@color-btn-hover-error-background: rgb(212, 19, 36);

@color-scroll: #888;

// 样式区
@font-size: 12px;
