// 颜色区
@color-background: rgb(242,242,242);
@color-slide: #ddd;
@color-red: #FF5722;

@color-header-background: #fff;
@color-header-slide: #f6f6f6;

@color-sidebar-background: #fff;
@color-sidebar-slide: #ddd;

@color-footer-background: #fff;
@color-footer-slide: #ddd;

@color-content-splice-background: #f6f6f6;
@color-content-splice-deep-background: #ddd;

@color-border: #f6f6f6;
@color-hover: rgb(246, 246, 246);
@color-content-background: rgb(242, 242, 242);
@color-icon-default: #aaa;
@color-text: #292B34;
@color-btn-hover-background: rgb(51, 56, 66);
@color-btn-hover-error-background: rgb(212, 19, 36);

@color-scroll: #888;

// 样式区
@font-size: 14px;
